# Local secrets (do not commit). Copy from .env.example and fill real values.

# AWS
AWS_REGION=eu-west-3
AWS_PROFILE=

# Image build
BUILD_IMAGE=false
IMAGE_REPOSITORY=622333992348.dkr.ecr.eu-west-3.amazonaws.com/grandnode2
IMAGE_TAG=dev-local

# DocumentDB
DOCDB_ENABLED=true
DOCDB_USERNAME=grandnodeadmin
DOCDB_PASSWORD=ChangeMeDocDBPass123
DOCDB_DATABASE=grandnode2
DOCDB_INSTANCE_COUNT=1
DOCDB_INSTANCE_CLASS=db.t3.medium
DOCDB_TLS_ENABLED=true

# MongoDB (if using in-cluster MongoDB)
MONGODB_ENABLED=false
MONGODB_USERNAME=grandnodeadmin
MONGODB_PASSWORD=ChangeMeMongoPass123
MONGODB_DATABASE=grandnode2

# App
ASPNETCORE_ENVIRONMENT=Production
INSTALLER_ENABLED=true
DB_PROVIDER=2

# Redis
REDIS_ENABLED=true
REDIS_PASSWORD=ChangeMeRedisPass123
REDIS_PUBSUB_ENABLED=true
REDIS_PUBSUB_CHANNEL=grandnode2
REDIS_PERSIST_KEYS=true